* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

html {
  background-color: #80d4ff;
}

h2 {
  background: white;
  padding: 15px;
  border-radius: 10px;
}
